server:
  port: 8082

spring:
  application:
    name: graph-service
  neo4j:
    uri: bolt://localhost:7687
    authentication:
      username: neo4j
      password: password

logging:
  level:
    root: INFO
    com.socialmedia: DEBUG


#CREATE CONSTRAINT user_id_unique IF NOT EXISTS FOR (u:User) REQUIRE u.userId IS UNIQUE;
