server:
  port: 8080

spring:
  application:
    name: user-service
  datasource:
    url: jdbc:mysql://localhost:3308/social_media?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
    username: root
    password: MySql@123
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
  data:
    redis:
      host: localhost
      port: 6379

security:
  jwt:
    secret: change-me-please-change-this-secret-key-32chars
    expiration: 3600000

logging:
  level:
    root: INFO
    com.socialmedia: DEBUG
